@{
    ViewData["Title"] = "Dashboard";
}
@model Auctions.Models.AuctionEvent
@using Auctions.Models;

<div class="container">
    <div class="row">
        <div class="nav">
            <h1 class="col-sm-6">@Model.product_name 
                <span style="font-size: 16pt; margin-left: 20px;">
                    Created by: @Model.user.first_name
                </span>
            </h1>
            <h1 class="col-sm-6 text-right" style="font-size: 13pt; vertical-align: bottom;">
                <a href="/dashboard">Dashboard | </a><a href="/home/logout">Logout</a>
            </h1>
        </div>
        <hr>
        <div class="col-sm-8">
            <h4>Time Remaining : @ViewBag.diff</h4>
            <hr>
            <h4>Description :</h4>  
            <p>@Model.description</p>
            <hr>
            <h3>Current Highest Bid: @Model.starting_bid</h3>
            <p>By </p>
            <hr>
            <h3>Your Bid</h3>
            @Html.Partial("./Partials/CreateBid", Model.bid)
        </div>
    </div>
</div>





